header {
  display: grid;
  font-family: 'Work Sans';
}

.header-container {
  display: grid;
  grid-template-columns: 100px 150px auto 360px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.7);  
  text-align: center;
 background-color: #fff;
}

.inspect-logo {
  background: url("../assets/inspect-icon.svg");
  background-position: center; 
  background-repeat: no-repeat;
  width: 40px;
  
  margin-left: 60%;
  
  
}
.site-title {
  margin-top: 26%;
  font-size: 2em;
  color: #333;
  
}

.header-btn {
 
  
  
  /* don't float, there are better tools */
  
}
.header-btn button {
  width: 100px;
  margin-top: 13%;
  font-size: 20px;
  
}

.ant-btn.header-btns, .login {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  font-weight: 600;
}

.ant-btn.header-btns:hover {
  border: none;
   box-shadow: none;
  /* border-bottom: 1px solid #333; */
  
  color: rgba(32,194,199,1);
}

.linear-wipe:hover {
  text-align: center;
  
  background: linear-gradient(to right, #000 20%, rgb(34,206,211) 40%, rgba(200,80,100) 60%, #000 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 2s linear infinite;
  
  
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}